<%inherit file="base.html"/>

<%def name="title()">Account Information</%def>


<section class="section-account">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">My Account</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h3>Account Details</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
      </div>

      <div class="col-md-10">
        <p>Welcome back, ${request.user.name} (${request.user.email})</p>

        <a class="btn btn-default" href="${request.route_path('settings')}">Edit Account Details</a>
        <a class="btn btn-default" href="https://en.gravatar.com">Update Avatar</a>
        <a class="btn btn-default" href="${request.route_path('logout')}">Sign Out</a>
      </div>
    </div>
  </div>
</section>
