<%inherit file="base.html"/>

<%namespace name="forms" file="/common/forms.html"/>


<%def name="title()">Forgot Your Password?</%def>


<section class="section-forgot-password">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Forgot Your Password?</h1>

        ${renderer.begin(class_='form-horizontal')}

          <p>If you can't remember your password or need to create one, fill in the form below, and an email will be sent allowing you to reset your password. Your current password will not be sent over email.</p>

          ${forms.ltext(renderer, 'email')}

          <%forms:actions>
            <button type="submit" class="btn btn-primary">Reset</button>
          </%forms:actions>

        ${renderer.end()}

      </div>
    </div>
  </div>
</section>
